<!DOCTYPE html>
<html lang="en">
  
<head>

	<title>Edit To-Do List</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/todo.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md">
		<a class="navbar-brand" href="#">To Do</a>
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main-navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/welcome">Home</a>
				</li>

				<li class="nav-item">
        			<a class="nav-link" href="/tasks">Tasks</a>
      			</li>

      			<li class="nav-item">
        			<a class="nav-link" href="/user/logout">Log Out</a>
      			</li>
      		</ul>
      	</div>
      </nav>

      <div class="d-flex flex-column bd-highlight mb-3 todo-box">
      	<h2>Edit To-Do List</h2>
      	<div class="p-2 bd-highlight">
      		<form action="" method="POST" class="todo-header">
      			<input type="text" placeholder="Add New Task to the List" name="content">
      			<button type="submit">
					<span class="fas fa-plus add"></span>
				</button>
			</form>
			
			<ul class="todo-list">
				<% todoTasks.forEach(details => { %>
				<% if (details._id == idTask) { %>
				<li class="todo-list-item">
					<form action="/todo/edit/<%= details._id %>" method="POST">
						<input type="text" value="<%= details.content %>" name="content">
						<button type="submit"><span class="fas fa-check"></button>
						<a href="/todo" class="cancel"><span class="fas fa-times"></a>
					</form>
				</li>

				<% } else { %>
				<li class="todo-list-item">
					<div class="todo-list-item-name">
						<%= details.content %>
					</div>
					<a href="/todo/edit/<%= details._id %>" class="edit">
						<span class="fas fa-edit"></span>
					</a>
					<a href="/todo/remove/<%= details._id %>" class="remove">
						<span class="fas fa-times"></span>
					</a>
				</li>
				<% } %>
				<% }) %>
			</ul>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>

</body>