<!DOCTYPE html>
<html lang="en">

<!--using bootstrap for styling and awesome fonts for icons-->  
<head>

	<title>Edit Task List</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<link rel="stylesheet" type="text/css" href="/css/tasks.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<div class="d-flex flex-column bd-highlight mb-3 task-box">
		<div class="p-2 bd-highlight">
      		<ul class="task-list">
      			<!--display all task attributes and input boxes to change content-->
      			<% myTasks.forEach(details => { %>
					<!--<% if (details._id == idTask) { %>-->
					<form action="/tasks/edit/<%= details._id %>" method="POST">
						<h4>Edit Task:<br/> <%= details.name %></h4>
						<a href="/tasks">
							<span class="fa fa-angle-double-left back"> Back to Tasks</span>
						</a>
						<li class="edit-list-item"><h6>Task Name: </h6>
							<input type="text" value="<%= details.name %>" name="name">
						</li>

						<li class="edit-list-item"><h6>Task Description:</h6>
							<input type="text" value="<%= details.description %>" name="description">
						</li>
					
						<li class="edit-list-item"><h6>Resources:</h6>
							<input type="text" value="<%= details.resource %>" name="resource">
						</li>
						<!--edit task priority-->
						<li class="edit-list-item">
							<label for="TaskPriority"><h6>Priority: <%= details.priority %></h6></label>
							<div class="form-check form-check-inline">
								<input type="radio" name="priority" id="Radio1" value="High">
								<label for="inlineRadio1">High</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" name="priority" id="Radio2" value="Medium">
								<label for="inlineRadio2">Medium</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" name="priority" id="Radio3" value="Low">
								<label for="inlineRadio3">Low</label>
							</div>
						</li>
						
						<li class="edit-list-item">
							<label for="TaskPrivacy" class="col-form-label"><h6>Task Privacy:</h6></label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="privacy" id="inlineRadio1"
									value="Private" onclick="showDiv()">
								<label class="form-check-label" for="inlineRadio1">Private</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="privacy" id="inlineRadio2"
									value="Public" onclick="showDiv()">
								<label class="form-check-label" for="inlineRadio2">Public</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="privacy" id="inlineRadio3"
									value="Group" onclick="showDiv()">
								<label class="form-check-label" for="inlineRadio3">Group</label>
							</div>
							<div id="select_group" class="form-group">

								<!-- code for showing dropdown menu -->
								<select name="group" class="selectpicker form-control mt-4" data-live-search="true" data-actions-box="true" multiple title="Choose group..." data-header="Select Group" id="group">
									<!--send popup alert login to see Welcome Page-->
									<% if ( typeof myGroups !== 'undefined' ) {
										var groupFinal;
										groupFinal = myGroups;
										%>
										<% for(var i=0; i < myGroups.length; i++) {%>
											<option value="<%=myGroups[i].name%>"><%=myGroups[i].name%></option>
											<% } %>
											<% } else{
												groupFinal = '';
											}%>
								</select>
							</div>
						</li>
						<li class="edit-list-item">
							<button type="submit" class="btn btn-primary btn-sm btn-block">Update</button>
						</li>
						
						<input style="visibility: hidden" type="text" value="<%= details.priority %>" name="default" readonly>
						<input style="visibility: hidden" type="text" value="<%= details.email %>" name="email" readonly>
						<input style="visibility: hidden" type="text" value="<%= details.privacy %>" name="currentprivacy" readonly>
					</form>
					<br/><br/>
				<!--<% }else { %>
					<% } %>-->
				<% }) %>
			</ul>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<script src="/js/main.js"></script>

	<script type="text/javascript">
		// check whether the group radio button is checked or not, if checked, it shows the dropdown menu div, otherwise hides it
		function showDiv() {
			$("#inlineRadio3").prop("checked") ? $("#select_group").show() : $("#select_group").hide();
		}
		// Shorthand for $( document ).ready()
		//hide the div normally
		$(function () {
			$("#select_group").hide();
		});
	</script>

</body>
</html>