<!DOCTYPE html>
<html lang="en">
  
<head>

	<title>Edit Task List</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/tasks.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="welcome">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Edit</li>
		</ol>
		
  	<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
  		<span class="navbar-toggler-icon"></span>
  	</button>
  	
	  <div class="collapse navbar-collapse" id="main-navigation">

		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		  </li>
  
		  <li class="nav-item">
			<a class="nav-link" href="/groups">Groups</a>
		  </li>
	
		  <li class="nav-item">
			<a class="nav-link" href="/tasks">Tasks</a>
		  </li>
  
		  <li class="nav-item">
			<a class="nav-link" href="/user/logout">Log Out</a>
		  </li>
		</ul>
	  </div>
	
  </nav>
  
  <body>

      <div class="d-flex flex-column bd-highlight mb-3 task-box">
      	<h2>Edit Task</h2>
      	<div class="p-2 bd-highlight">

      		<ul class="task-list">
				<% myTasks.forEach(details => { %>
				<% if (details._id == idTask) { %>
				<li class="task-list-item">
					<form action="/tasks/edit/<%= details._id %>" method="POST">
						<input type="text" value="<%= details.name %>" name="name">
				</li>
				 <li class="task-list-item">
						<input type="text" value="<%= details.description %>" name="description">
				</li>
				 <li class="task-list-item">
						<input type="text" value="<%= details.resource %>" name="resource">
				</li>
				<li class="task-list-item">
						<input type="text" value="<%= details.priority %>" name="default" readonly>
				</li>
				<li class="task-list-item">
					<label for="TaskPriority"><h6>Edit Priority</h6></label>
					<div class="form-check form-check-inline">
						<input type="radio" name="priority" id="inlineRadio1" value="High">
						<label for="inlineRadio1">High</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" name="priority" id="inlineRadio2" value="Medium">
						<label for="inlineRadio2">Medium</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" name="priority" id="inlineRadio3" value="Low">
						<label for="inlineRadio3">Low</label>
					</div>
				</li>
				<li class="task-list-item">
					<button type="submit" class="btn btn-primary btn-sm btn-block">Update</button>
				</li>
			</form>

			<% } else { %>
				<li class="task-list-item">
					<div class="task-list-item-name">
						<%= details.name %>
					</div>
					<a href="/tasks/edit/<%= details._id %>" class="edit">
						<span class="fas fa-edit"></span>
					</a>
					<a href="/tasks/remove/<%= details._id %>" class="remove">
						<span class="fas fa-times"></span>
					</a>
				</li>
				<% } %>
				<% }) %>
			</ul>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>

</body>