<!DOCTYPE html>
<html lang="en">
  <head>
  
    <title>Tasks</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/tasks.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<nav class="navbar navbar-expand-md fixed-top top-nav">
		<div class="container">
			<!-- <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="welcome">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Tasks</li>
			</ol>  -->
			<a class="navbar-brand" href="#"><strong>Tasks</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
			</button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav ml-auto">
					  <li class="nav-item active">
						  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/tasks">Tasks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/groups">Groups</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/logout">Log Out</a>
						</li>
					</ul>
				</div>	
			</div>
	</nav>
</head>

<body>

  	  <div class="d-flex flex-column bd-highlight mb-3 task-box">

		  <h2>List of Tasks</h2>
		  <ul class="task-list">
			<% myTasks.forEach(details => { %>
			<li class="task-list-item">
				<div class="task-list-item-name">
					<h6>Event Name</h6><%= details.name %><br/>
					<h6>Event Description</h6><%= details.description %><br/>
					<h6>Event Resource (Optional) </h6><%= details.resource %><br/>
					<h6>Event Priority (Optional)</h6><%= details.priority %>
				</div>
				<div>								  	   
					<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
						<input type="file" name="myFile" />
						<input type="submit" value="Upload a file"/>
					</form><br/>
				</div>
				
				<a href="/tasks/edit/<%= details._id %>" class="edit">
					<span class="fas fa-edit"></span>
				</a>
				<a href="/tasks/remove/<%= details._id %>" class="remove">
					<span class="fas fa-times"></span>
				</a>
			</li>
			<% }) %>
		</ul>
	  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Add a new task
  </button>

<a href="/upload/files" class="upload">
	view all uploaded files
</a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="exampleModalLabel">Creating New Task</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form action="/tasks" method="POST">
				<div class="form-group">
				  <label for="taskName"><h5>Task Name</h5></label>
				  <input type="text" class="form-control" id="taskName" placeholder="Enter Task Name" name="name" required>
				</div>
				<div class="form-group">
					<label for="TaskDescription"><h5>Task Description</h5></label>
					<input type="text" class="form-control" id="TaskDescription" placeholder="Enter Task Description" name="description" required>
				  </div>
				  <div class="form-group">
					<label for="TaskResource"><h5>Task Resources</h5></label>
					<input type="text" class="form-control" id="TaskResource" placeholder="Enter Task Resources (Optional)" name="resource">
				  </div>
				  <div class="form-group">
					<label for="TaskPriority"><h5>Task Priority</h5></label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="priority" id="inlineRadio1" value="High">
						<label class="form-check-label" for="inlineRadio1">High</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="priority" id="inlineRadio2" value="Medium">
						<label class="form-check-label" for="inlineRadio2">Medium</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="priority" id="inlineRadio3" value="Low">
						<label class="form-check-label" for="inlineRadio3">Low</label>
					  </div>
					</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>