<!DOCTYPE html>
<html lang="en">

<head>

  <title>CS615 Group 8 Project</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
      <h3>Task Manager</h3>
    </a>
    <!--<a class="navbar-brand" href="#">Welcome to Collaborative Task Sharing(CS615 Project Group 8)</a> -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">

        <li class="nav-item">
          <!-- <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">Sign up</a>-->
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">Sign up</a>
        </li>

      </ul>
    </div>

  </nav>
  <header class="page-header header container-fluid">
    <div class="overlay"></div>
    <div class="description">
      <!--<h1>Welcome to the Landing Page!</h1>-->
      <h1>Keep your team organized and connected</h1>
      <p>With Task Manager Tool, your team can stay focused on their goals and tasks, No matter when or where they work.
      </p>
      <!--<button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal"
        data-target="#loginModal">Login</button>-->
    </div>

    <!--send popup alert if signup fails-->
    <% if ( typeof signupFailMessage !== 'undefined' ) {%>
    <% if (signupFailMessage.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=signupFailMessage%></strong>
    </div>
    <% } }%>

    <!--send popup alert if usernot found at login-->
    <% if ( typeof userNotFound !== 'undefined' ) {%>
    <% if (userNotFound.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=userNotFound%></strong>
    </div>
    <% } }%>

    <!--send popup alert if incorrect password entered-->
    <% if ( typeof wrongPassword !== 'undefined' ) {%>
    <% if (wrongPassword.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=wrongPassword%></strong>
    </div>
    <% } }%>

    <!--send popup alert login to see Task list-->
    <% if ( typeof accessDeniedTask !== 'undefined' ) {%>
    <% if (accessDeniedTask.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=accessDeniedTask%></strong>
    </div>
    <% } }%>

    <!--send popup alert login to see Welcome Page-->
    <% if ( typeof accessDenied !== 'undefined' ) {%>
    <% if (accessDenied.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=accessDenied%></strong>
    </div>
    <% } }%>

    <!--send popup alert login to see Groups Page-->
    <% if ( typeof accessDeniedGroup !== 'undefined' ) {%>
    <% if (accessDeniedGroup.length){ %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%=accessDeniedGroup%></strong>
    </div>
    <% } }%>

  </header>

  <!--Modal to log in-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form name="login" action="/user/signin" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
              <input name="recover-submit" class="btn btn-primary btn-block" value="Sign In" type="submit">
              </form>
            </div>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" value="send">Sign In</button>
          </div>-->
        </form>

        <!-- // functionality not implemented yet
        <div class="col-md-12 text-right login-help">
          <a href="#">Reset Password</a>
        </div> -->
        
      </div>
    </div>
  </div>

  <!--modal to sign up-->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="signup" action="/user/signup" method="post">
            <div class="form-group">
              <label for="fName" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" name="fName">
            </div>
            <div class="form-group">
              <label for="lName" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" name="lName">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="username" class="col-form-label">Username:</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" value="send">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/welcome.js"></script>

</body>
</html>